@media screen and (max-width: 1397px){
   body{
    text-align: center;
   }
   .what-i-do-tools,.project-squares div, .about-me{
    flex-wrap: wrap;
   }
}

@media screen and (max-width: 960px){
    .projects{
        margin-top: 100px;
       }
       .why-choose-me{
        margin-top: 500px;
       }
       .what-i-do{
        margin-bottom: 500px;
       }
       .main-title{
        margin-top: 100px;
       }
}
@media screen and (max-width: 750px){
       .why-choose-me{
        margin-top: 900px;
       }
}
@media screen and (max-width: 475px){
    .why-choose-me{
     margin-top: 1200px;
    }
}