@media screen and (max-width: 1300px){
   body{
    text-align: center;
   }
   .what-i-do-tools,.project-squares div, .about-me, #skillBlocks{
    flex-wrap: wrap;
   }
}

/* @media screen and (max-width: 1080px) {
    .main-title img{
        height: 100%;
   }
} */