/* GLOBAL CSS */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
li{
    float: right;
    margin-top: 10px;
}
.line-height{
    line-height: 35px;
}
.what-i-do,.why-choose-me{
    height: 500px;
}
section:not(.main-title,.main-nav){
    padding: 100px;
}

/* STICKY NAVBAR */
#navbar{
    overflow: hidden;
    background-color: #333;
}
#navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
#navbar a:hover{
    color: salmon;
}
.content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 60px;
}


.main-title{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}
.main-title img{
    border-radius: 40%; 
    height: 500px;
    border-right: 5px solid salmon;
    padding: 10px;
}
.main-title-img{
    margin: auto 25px auto auto;
}
.main-title-text{
    font-size: 40px;
    margin: auto auto auto 25px;
}
.main-title span{
    color: salmon;
}
.main-title button{
    border: 1px solid salmon;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: auto;
}
.main-title button:hover{
    background-color: salmon;
    color: white;
}
.main-title a{
    text-decoration: none;
    color: black;
}



.what-i-do{
    width: 100%;
    text-align: center;
}
.what-i-do-tools{
    display: flex;
    justify-content: space-evenly; 
}
.square{
    border: 2px solid salmon;
    padding: 75px;
    margin: 50px auto auto auto;
    box-shadow: 5px 5px salmon;
}


.why-choose-me{
    width: 100%;
    text-align: center;
}
#skillBar1, #skillBar2, #skillBar3, #skillBar4{
    width: 100%;
    /* background-color: #333; */
    font-weight: 800;
    color: whitesmoke;
    padding: 25px;
}
  
#myBar1, #myBar2, #myBar3, #myBar4{
    width: 1%;
    height: 30px;
    background-color: salmon;
}
.why-choose-me button{
    background-color: salmon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 10px auto 10px auto;
}


.projects{
    width: 100%;
    text-align: center;
}
.project-squares div{
    display: flex;
}
.project-squares .square{
    padding: 150px;
    margin-top: 100px;
}


.about-me{
    text-align: center;
}
.about-me-flex-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.about-me-flex-container p{
    flex-wrap: wrap;
    margin-top: 100px;
    margin-right: 100px;
    inline-size: 400px;
    word-break: break-word;
}
.about-me img{
    border-radius: 40%; 
    height: 500px;
    border-left: 5px solid salmon;
    padding: 10px;
}


.contact-info{
    width: 100%;
    height: 800px;
    text-align: center;
}
.contact-form-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    background: salmon;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: whitesmoke;
    font-weight: 800;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f2f2f2;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: whitesmoke;
    color: salmon;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

/* DARK MODE */
.darkBody{
    background-color: #222;
    color: whitesmoke;
}
#dark-mode{
    background-color: #333;
    color: whitesmoke;
}