/* GLOBAL CSS */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

/* @media (min-width: 900px) {
    
} */

*{
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
li{
    float: right;
    margin-top: 10px;
}
.line-height{
    line-height: 35px;
}
section:not(.main-title,.main-nav,.what-i-do,.why-choose-me){
    height: 1200px;
}
.what-i-do,.why-choose-me{
    height: 500px;
}
.background-color{
    background-color: rgb(240, 238, 238);
}

/* STICKY NAVBAR */
#navbar{
    overflow: hidden;
    background-color: #333;
}
#navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
#navbar a:hover{
    color: salmon;
}
.content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 60px;
}


.main-title{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}
.main-title img{
    border-radius: 40%; 
    height: 500px;
    border-right: 5px solid salmon;
    padding: 10px;
}
.main-title-img{
    margin: auto 25px auto auto;
}
.main-title-text{
    font-size: 40px;
    margin: auto auto auto 25px;
}
.main-title span{
    color: salmon;
}
.main-title button{
    background-color: white;
    border: 1px solid salmon;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: auto;
}
.main-title button:hover{
    background-color: salmon;
    color: white;
}



.what-i-do{
    width: 100%;
    text-align: center;
}
.what-i-do-tools{
    display: flex;
    justify-content: space-evenly;
}
.square{
    border: 2px solid salmon;
    padding: 75px;
    margin: 50px auto auto auto;
    box-shadow: 5px 5px salmon;
    background-color: white;
}


.why-choose-me{
    width: 100%;
    text-align: center;
}
#javascriptBar, #htmlcssBar, #nodejsBar, #githubBar{
    width: 100%;
    /* background-color: #333; */
    padding: 25px;
}
  
#myBar1, #myBar2, #myBar3, #myBar4{
    width: 1%;
    height: 30px;
    background-color: salmon;
}
.why-choose-me button{
    background-color: salmon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 10px auto 10px auto;
}


.projects{
    width: 100%;
    text-align: center;
}
.project-squares div{
    display: flex;
}
.project-squares .square{
    padding: 150px;
    margin-top: 100px;
}


.about-me{
    width: 100%;
    height: 800px;
    text-align: center;
}
.about-me img{
    border-radius: 40%; 
    height: 500px;
    border-left: 5px solid salmon;
    padding: 10px;
}


.contact-info{
    width: 100%;
    height: 800px;
    text-align: center;
}