@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

@media screen and (max-width: 780px){
    *{
       flex-wrap: wrap;
       text-align: center;
    }
    #navbar{
        height: 55px;
        margin: 0;
        padding: 0;
    }
    #navbar a{
       font-size: 10px;
       margin: 0;
       padding: 0;
    }
    #navbar .email span{
       display: none;
    }
    .main-title-img{
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .main-title-img img{
       max-height: 450px;
    }
    .main-title-text p{
       font-size: 25px;
       margin-right: 50px;
    }
    .button-div{
        margin-right: 50px;
        margin-top: 25px;
    }


    
    .what-i-do .square{
       margin: 25px;
    }
 
    .about-me-flex-container img{
       max-height: 350px;
       margin-right: 0px;
    }
    .about-me-flex-container p{
        font-size: 12px;
        inline-size: 0;
        max-width: 350px;
    }

    .project-title{
        display: none;
    }
    #project1 p, #project2 p, #project3 p, #project4 p, #project5 p, #project6 p, #project7 p{
        margin-top: 180px;
    }
    .project-squares{
        width: 90%;
        margin: 0 auto;
    }
    
}





*{
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
li{
    float: right;
    margin-top: 10px;
}
.line-height{
    line-height: 35px;
}
.what-i-do, .why-choose-me, .about-me{
    background-color: rgb(3, 3, 43);
    color: white;
}
section:not(.main-title,.main-nav,.contact-form-container){
    padding: 100px 0;
}


/* STICKY NAVBAR */
#navbar{
    overflow: hidden;
    background-color: rgb(3, 3, 43);
}
#navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
#navbar a:hover{
    color: salmon;
}
.content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 60px;
}



/* MAIN TITLE */
.main-title{
    display: flex;
    max-width: 1200px;
    margin: 150px auto;
}
.main-title img{
    border-radius: 40%;
    height: 625px;
    border-right: 5px solid salmon;
    padding: 10px;
}
.main-title-text{
    font-size: 40px;
    margin: auto;
    margin-left: 50px;
}
.main-title span{
    color: salmon;
}
.main-title button{
    border: 1px solid salmon;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: auto;
}
.main-title button:hover{
    background-color: salmon;
    color: white;
}
.main-title a{
    text-decoration: none;
    color: black;
}
.email span{
    margin-left: 10px;
}


/* WHAT I DO */
.what-i-do{
    width: 100%;
    text-align: center;
    height: 100%;
}
.what-i-do-tools{
    display: flex;
    justify-content: space-evenly;
}
.square{
    border: 2px solid #fffcc9;
    padding: 50px;
    margin: auto;
    box-shadow: 5px 5px #fffcc9;
    width: 500px;
    height: 225px;
}



/* SKILLS */
#skillBlocks{
    display: flex;
    background-color: rgb(3, 3, 43);
}

.why-choose-me{
    width: 100%;
    text-align: center;
    color: white;
    height: 100%;
}
.why-choose-me #barTitles{
    text-align: left;
    margin-left: 25px;
    color: #fffcc9;
}
.why-choose-me p{
    text-align: left;
    margin-left: 25px;
    color: whitesmoke;
}

#skillBar1, #skillBar2, #skillBar3, #skillBar4, #skillBar5, #skillBar6, #skillBar7, #skillBar8{
    width: 90%;
    background-color: whitesmoke;
    font-weight: 800;
    color: whitesmoke;
    padding: 10px;
    margin: 25px;
    border-radius: 25px;
}
  
#myBar1, #myBar2, #myBar3, #myBar4, #myBar5, #myBar6, #myBar7, #myBar8{
    width: 1%;
    height: 30px;
    background-color: rgb(201, 43, 43);
    border-radius: 25px;
}
.why-choose-me button{
    background-color: salmon;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 10px auto 10px auto;
}



/* PROJECTS */
.projects{
    width: 100%;
    text-align: center;
}
.project-squares > div{
    display: flex;
}
.project-squares .square{
    box-shadow: 5px 5px salmon;
    border-color: salmon;
    height: 300px;
    width: 500px;
    margin-top: 50px;
}
#project1 p, #project2 p, #project3 p, #project4 p, #project5 p, #project6 p,#project7 p{
    background-color: rgb(16, 16, 27); 
    opacity: 0.8;
    font-size: 20px;
    color: whitesmoke;
    max-height: 35px;
}
.projects a{
    text-decoration: none;
    color: rgb(129, 129, 233);
}
#project1{
    background-image: url('https://github.com/JO-DEV-IL/Portfolio-Website/blob/main/img/food-snap.png?raw=true');
    background-size: cover;
    background-position: center;
}
#project2{
    background-image: url('https://github.com/JO-DEV-IL/Portfolio-Website/blob/main/img/dictionary-snap.png?raw=true');
    background-size: cover;
    background-position: center;
}
#project3{
    background-image: url('https://i.ibb.co/xXDWwcT/blog-snap.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffecb6;
}
#project4{
    background-image: url('https://github.com/JO-DEV-IL/Portfolio-Website/blob/main/img/website-snap.png?raw=true');
    background-size: cover;
    background-position: center;
}
#project5{
    background-image: url('https://github.com/JO-DEV-IL/Portfolio-Website/blob/main/img/tictactoe-snap.png?raw=true');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #00203f;
}
#project6{
    background-image: url('https://github.com/JO-DEV-IL/Portfolio-Website/blob/main/img/calculator-snap.png?raw=true');
    background-size: cover;
    background-position: top;
}
#project7{
    background-image: url('https://i.ibb.co/qBd5VY6/moviedb-snap.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #222;
}


.about-me{
    text-align: center;
}
.about-me-flex-container{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.about-me-flex-container p{
    margin: 25px 25px;
    word-break: break-word;
    inline-size: 500px;
}
#about-me-img-1{
    border-left: 5px solid salmon;
    max-height: 300px;
    border-radius: 40%;
    padding: 10px;
}


.contact-info{
    width: 100%;
    text-align: center;
}
.contact-form-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
form{
    display: flex;
    flex-direction: column;
    background: salmon;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: whitesmoke;
    font-weight: 800;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f2f2f2;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: whitesmoke;
    color: salmon;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

/* DARK MODE */
.darkBody{
    background-color: #222;
    color: whitesmoke;
}
#dark-mode{
    background-color: #222;
    color: whitesmoke;
}